.titulo {
    font-size: 40px !important;
    padding-top: 37px;
    color: #27bbdf !important;
}
.color-main{
    background-color: #27bbdf !important;
}
.color-main-text{
    color: #27bbdf !important;
}