/* Usar background y altos en los contenedores inicialmente  
Conocer las propiedades de flexbos a profundidad salvan vidas
*/
body{
    display: flex;
    flex-direction: column;
}


form{
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
}

.content-email{
    display: flex;
    justify-content: center;
    width: 100%;
}
