<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="resources/style/base.css">
    <link rel="stylesheet" href="resources/style/registro.css">
    <link rel="stylesheet" href="resources/style/error.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-titulo">
        <h1 class="">Parece que tenemos un problema técnico. Estamos en ello.
        </h1>
    </div>
</body>
</html>