{% macro errores() %}
    <div class="errores">
        <form action="/" method="post" onsubmit="return ocultarError()" class="form-error">
            <div class="error" id="error">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script>
                        let error = document.getElementById('error');
                        error.style.display = 'block';
                    </script>
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </div>
            <button type="submit" id="boton-cerrar">X</button>
        </form>
    </div>
{% endmacro %}

{% macro encabezado(titulo, usuario_login) %}
    <div class="content-titulo">
        <h1 class="titulo">{{ titulo }}</h1>
        <p class="usuario-name">{{ usuario_login }}</p>
        <form action="/home" method="post" class="salir-form" id="salir-form">
            <button type="submit" class="material-symbols-outlined" id="home">
                cabin
            </button>
        </form>        
        <form action="/login"  method="post" class="salir-form" id="salir-form">
            <button class="ingresar button-menu salir">Salir</button>
        </form> 
    </div>     
{% endmacro %}

{% macro encabezado_tailwind(titulo, usuario_login) %}
    <div class="content-titulo">
        <h1 class="titulo text-3xl font-bold text-center text-blue-600 mb-8">{{ titulo }}</h1>
        <p class="usuario-name">{{ usuario_login }}</p>
        <form action="/home" method="post" class="salir-form" id="salir-form">
            <button type="submit" class="material-symbols-outlined" id="home">
                cabin
            </button>
        </form>  
        <form action="/login" method="post" class="salir-form" id="salir-form">
            <button class="ingresar button-menu salir">Salir</button>
        </form>
    </div>
{% endmacro %}

