{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/pacientes.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pacientes.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>let campos = {{ lista_de_campos | tojson }};</script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet">

</head>
<body>
    {{ macro.errores() }}

    {{ macro.encabezado('Pacientes', usuario_login) }}
    
    <div class="content-regis">
        <form id="form" action="/pacientes" method="post">
            <div class="inputs">
                <input class="button-login-regis" id="nombre" name="nombre" type="text" placeholder="Nombre"  minlength="3" autocomplete="off" value="{{ data.nombre or '' }}">  
                <input class="button-login-regis" id="apellidos" name="apellidos"  type="text" placeholder="Apellidos"  minlength="5" autocomplete="off" value="{{ data.apellidos or '' }}">   
                <input class="button-login-regis" id="tipo_identificacion" name="tipo_identificacion" type="text" list="recomendaciones-tipocc" placeholder="Tipo Identificacion" autocomplete="off" value="{{ data.tipo_identificacion or '' }}">
                <datalist id="recomendaciones-tipocc">
                    {% for recomendacion in recomendaciones['tipocc'] %}
                    <option value="{{ recomendacion[0] }}">
                    {% endfor %}
                </datalist>
                <input class="button-login-regis" id="cedula" name="cedula" type="text" placeholder="Cedula"  minlength="3" autocomplete="off" value="{{ data.cedula or '' }}">
                <input class="button-login-regis" id="telefono" name="telefono" type="text" placeholder="Telefono - Celular" autocomplete="off" value="{{ data.telefono or '' }}">
                <input class="button-login-regis" id="nacionalidad" name="nacionalidad" type="text" placeholder="Nacionalidad" list="recomendaciones-nacionalidades" autocomplete="off" value="{{ data.nacionalidad or '' }}">
                <datalist id="recomendaciones-nacionalidades">
                    {% for recomendacion in recomendaciones['nacionalidades'] %}
                    <option value="{{ recomendacion[0] }}">
                    {% endfor %}
                </datalist>
                <input class="button-login-regis" id="genero" name="genero" type="text" placeholder="Genero" list="recomendaciones-generos" autocomplete="off" value="{{ data.genero or '' }}">
                <datalist id="recomendaciones-generos">
                    {% for recomendacion in recomendaciones['generos'] %}
                    <option value="{{ recomendacion[0] }}">
                    {% endfor %}
                </datalist>
                <input class="button-login-regis" id="direccion" name="direccion" type="text" placeholder="Direccion" autocomplete="off" value="{{ data.direccion or '' }}">
                <input class="button-login-regis" id="correo" name="correo" type="email" placeholder="Correo" autocomplete="off" value="{{ data.correo or '' }}">
                <input class="button-login-regis" id="nacimiento" name="nacimiento" type="date" placeholder="Nacimiento" autocomplete="off" value="{{ data.nacimiento or '' }}">
            </div>
            <div class="buttons-menu">
                {% if data.cedula is not defined or data.cedula == '' %}
                    <button id="nuevo" name="accion" type="button" value="nuevo" class="ingresar button-menu" onclick="return logicaBotones('nuevo')">Nuevo</button>
                {% endif %}
                {% if data.cedula is not defined or data.cedula == '' %}
                    <button id="buscar" title="Buscar por tipo de identificacion y cedula" name="accion" value="buscar" class="ingresar button-menu"  onclick="return logicaBotones('buscar')">Buscar</button>
                {% endif %}
                {% if data.cedula %}
                    <button id="editar" name="accion" type="button" value="editar" class="ingresar button-menu" onclick="return logicaBotones('editar')">Editar</button>
                {% endif %}
                <button id="guardar" name="accion" value="guardar" class="ingresar button-menu" onclick="return validarContenido(campos); logicaBotones('guardar'); ">Guardar</button>
                <button id="actualizar"  name="accion" value="actualizar" class="ingresar button-menu" onclick="return logicaBotones('actualizar')">Actualizar</button>
                <button id="x" name="accion" value="x" class="ingresar button-menu" onclick="return logicaBotones('x')">X</button>
                <button  class="ingresar button-menu" type="button" onclick="recargarPagina('medicos')">Cancelar</button>
            </div>
            <input type="hidden" id="datosOriginales" name="datosOriginales">
        </form>
    </div>
</body>
</html>