<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-titulo">
        <h1 class="titulo">Formulario de registro</h1>
    </div>
    <div class="content-regis">
        <form action="">
            <input class="button-login-regis" id="nombre" name="nombre"  type="text" placeholder="Nombre">
            <input class="button-login-regis" id="apellidos" name="apellidos" type="text" placeholder="Apellidos">
            <input class="button-login-regis" id="cedula" name="cedula" type="text" placeholder="Cedula">
            <input class="button-login-regis" id="telefono" name="telefono" type="text" placeholder="Telefono">
            <div class="content-email">
                <input class="button-login-regis" id="email" name="email" type="email" placeholder="Email">
            </div>
            <button class="ingresar">Ingresar</button>
            
        </form>
    </div>
</body>
</html>