{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuario.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>let campos = {{ lista_de_campos | tojson }};</script>
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

</head>
<body>
    {{ macro.errores() }}

    {{ macro.encabezado('Usuario', usuario_login) }}
                         
    <div class="content-regis">
        <form id="form" action="/usuario" method="post">
            <input class="button-login-regis" type="text" placeholder="Usuario" name="usuario" id="usuario" minlength="5" maxlength="10" autocomplete="off" value="{{ usuario }}">
            <input class="button-login-regis" type="number" placeholder="Cedula" name="cedula" id="cedula" value="{{ cedula }}" minlength="5" autocomplete="off">         
            <input class="button-login-regis" placeholder="Telefono" id="telefono" value="{{ telefono }}" type="text" name="telefono" autocomplete="off">        
            <input class="button-login-regis" id="correo" value="{{ correo }}" type="email" placeholder="Correo" name="correo" autocomplete="off">      
            <input class="button-login-regis" id="contraseña" value="{{ contraseña }}" type="password" placeholder="Contraseña" name="contraseña" autocomplete="off">
            <input class="button-login-regis" id="confirmar_contraseña" value="{{ confirmar_contraseña }}" type="password" placeholder="Confirmar contraseña" name="confirmar_contraseña" autocomplete="off">
            <div class="buttons-menu">
                {% if usuario == '' %}
                     <button id="nuevo" name="accion" type="button" value="nuevo" class="ingresar button-menu" onclick="return logicaBotones('nuevo')">Nuevo</button>
                {% endif %}

                {% if usuario == '' %}
                    <button title="Busca por usuario o cedula" id="buscar" name="accion" value="buscar" class="ingresar button-menu"  onclick="return logicaBotones('buscar')">Buscar</button>
                {% endif %}

                {% if usuario %}
                    <button id="editar" name="accion" type="button" value="editar" class="ingresar button-menu" onclick="return logicaBotones('editar')">Editar</button>
                {% endif %}

                <button id="guardar" name="accion" value="guardar" class="ingresar button-menu" onclick="return validarContenido(campos); logicaBotones('guardar'); ">Guardar</button>
                <button id="actualizar"  name="accion" value="actualizar" class="ingresar button-menu" onclick="return logicaBotones('actualizar')">Actualizar</button>
                <button id="x" name="accion" value="x" class="ingresar button-menu" onclick="return logicaBotones('x')">X</button>
                <button  class="ingresar button-menu" type="button" onclick="recargarPagina('usuario')">Cancelar</button>

            </div>
            <input type="hidden" id="datosOriginales" name="datosOriginales">
        </form>
    </div>
</body>
</html>

